/*--
	Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
--*/

html,
body {
	margin: 0;
	font-size: 100%;
    font-family: 'Oswald', sans-serif;
	background: #fff;
}

body a {
	text-decoration: none;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    font-family: 'Oswald', sans-serif;
}

body img {
	width: 100%;
}

a:hover {
	text-decoration: none;
}

input[type="button"],
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="search"] {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
    font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
    font-family: 'Oswald', sans-serif;
	letter-spacing: 1px;
}

p {
	margin: 0;
	font-size: 0.9em;
	color: #777;
	line-height: 2em;
	letter-spacing: 1px;
}

ul {
	margin: 0;
	padding: 0;
}
.first-nav {
    padding-top: 1.1em;
}
/*--/header --*/

/*--/navbar--*/

.navbar {
    padding: 0.8em 2em;
}

a.navbar-brand {
    font-size: 0.8em;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.37);
    color: #fff;
    text-transform: uppercase;
}

.navbar-light .navbar-brand {
    font-family: 'Oswald', sans-serif;
}

.logo-w3 i {
    color:#ff4e00;
    text-shadow: none;
}

li.nav-item {
    margin: 0 1px;
}

.navbar-light .navbar-nav .nav-link {
    padding: 0.3em 1.4em;
    color: #777;
    background: transparent;
    font-size: 0.85em;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    background: transparent;
    color: #ff4e00;
}

.dropdown-item {
    padding: 0.5em 1.5rem;
    font-size: 0.9em;
    margin: 0;
}

.dropdown-menu {
    margin: 0;
    padding: 0;
}

.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #333;
}

/*---*/

/*---*/

.dropdown-toggle::after {
    width: 0;
    height: 0;
    margin-left: 0;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border: 0px;
}

li.nav-item.active {
    background: none;
    color: #5d0707;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #ff4e00;
    text-decoration: none;
    background-color: #f0f0f1;
}


/*-- //top-nav --*/
.top-head.text-left {
    padding: 0.3em 1em;
    background: #081A3B;
}
.right-p ul li {
    display: inline-block;
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    margin: 0.5em 1em;
}
.left-info.footer-grid-w3ls ul.social li a span{
    color: #777;
    font-size: 12px;
    background: transparent;
    width: 28px;
    height: 28px;
    line-height: 27px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
/*-- //header --*/
h3.tittle-wthree span {
    display: block;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 0.3em;
    color: #807f7e;
    letter-spacing: 4px;
}
h3.tittle-wthree {
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.12);
    font-size: 3em;
    color: #1c1c1d;
    font-weight: 400;
}
/*-- effect --*/
/*--/about--*/
.aboutright h3 {
    color: #ff4e00;
    font-weight: 400;
    font-size: 31px;
    letter-spacing: 1px;
}
.aboutright h4 {
    margin: 1.2em 0;
    font-style: italic;
    font-size: 15px;
    color: #383838;
}
.about-img img, .galsses-grid-left img{
    background: #f0f0f0;
    padding: 0.4em;
}
/*--*/

/* Global Button Styles */

a.animated-button:link,
a.animated-button:visited {
	position: relative;
    padding: 10px 25px;
    color: #555;
	font-size: 13px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	letter-spacing: .08em;
	border-radius: 0;
	z-index: 9;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}

a.animated-button:link:after,
a.animated-button:visited:after {
	content: "";
	position: absolute;
	height: 0%;
	left: 50%;
	top: 50%;
	width: 150%;
	z-index: -1;
	-webkit-transition: all 0.75s ease 0s;
	-moz-transition: all 0.75s ease 0s;
	-o-transition: all 0.75s ease 0s;
	transition: all 0.75s ease 0s;
}

a.animated-button:link:hover,
a.animated-button:visited:hover {
	color: #FFF;
	text-shadow: none;
}

a.animated-button:link:hover:after,
a.animated-button:visited:hover:after {
	height: 450%;
}

/* Victoria Buttons */

a.animated-button.victoria-two {
	border: 2px solid #ff4e00;
}

a.animated-button.victoria-two:after {
	background:#ff4e00;
	-moz-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-ms-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	-webkit-transform: translateX(-50%) translateY(-50%) rotate(25deg);
	transform: translateX(-50%) translateY(-50%) rotate(25deg);
}
/*--//about--*/
/*--/middle--*/
.course-selection {
background: url(../images/banner2.jpg) no-repeat center;
    background-size: cover;
    min-height: 408px;
    position: relative;
}
h3.course {
    font-size: 2.5em;
    color: #fff;
}
.dotts {
    background: url(../images/dots.png);
}
.course-left p {
    color: #fff;
}
.course-detials-inner-info h4 {
    color:#ff4e00;
    font-weight: 600;
    margin-bottom: 0.6em;
}
.course-right input[type="text"],.course-right input[type="email"],.course-right select.form-control.option {
    width: 100%;
    padding: 0.8em 1em;
    font-size: 0.85em;
    outline: none;
    color: #212121;
    border: none;
    border: 1px solid #fff;
    letter-spacing: 1px;
	margin-bottom: 0.5em;
	border-radius:0px;
}
.course-right input[type="submit"] {
    outline: none;
    padding:15px 0;
    font-size: 14px;
    color: #fff;
    background:#ff4e00;
    border: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0px;
}
.course-right  select.form-control.option {
    height: 46px;
}
.text-info-sec h5 {
    font-size: 1.1em;
    color: #313131;
    text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
    font-weight: 500;
}
.text-info-sec p.card-text {
    margin: 8px 0;
}

.cource-box-info .card-body {
    padding: 0;
}
p.card-text {
    font-size: 0.85em;
    margin-bottom: 1em!important;
}
.cource-box-info i {
    color: #616167;
}
h5.card-title {
    color: #ff4e00;
    font-size: 1.1em;
    font-weight: 400;


}
ul.property-box li:nth-child(2) {
    margin-left: 7em;
}
/*--//middle--*/
/*--/services--*/
.service-in .card {
    border: none;
    background: none;
}
.service-in .card-title {
    font-size: 1.4em;
    color: #333;
    font-weight: 600;
}
.service-in p.card-text{
    line-height: 1.9em;
    padding: 0 1em;
}
.service-in .card i {
    font-size: 2em;
    margin-bottom: 0.7em;
    color:#ff4e00;
}
/*--//services--*/
/*--//--*/
.galsses-grid-left {
	position: relative;
	margin: 0 auto;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}


.galsses-grid-right h5 {
    font-size: 0.85em;
    color: #888;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    font-weight: 400;
}

.galsses-grid-right p {
	line-height: 2.2em;
}

.galsses-grid-left p {
    color:#ff4e00;
}

h4.post {
    font-size: 1em;
    color: #454646;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
    font-weight: 600;
}

span.post-color {
    font-size: 2em;
    color: #6a67ce;
}

/*-- Pricing --*/

/*-- stats --*/

.stats_info p {
    font-size: 41px;
    letter-spacing: 1px;
    line-height: 2;
    color: #ff4e00;
}
.stats_info h4 {
    font-size: 20px;
    color: black;
    margin: 0;
    letter-spacing:2px;
    text-transform: uppercase;
    font-weight: 100;
}
.stats_info i {
    font-size: 2.5em;
    color: #fff;
    margin: 0;
    margin-top: 1em;
}
.stats_bottom_grid_left img {
	margin: 0 auto;
}

.stats_info.counter_grid {
    /*background: url(../images/g4.jpg) no-repeat center;*/
    background-size: cover;
}

.stats_info.counter_grid1 {
    /*background: url(../images/g1.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
}

.stats_info.counter_grid2 {
    /*background: url(../images/g2.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
}
.stats_info.counter_grid3 {
    /*background: url(../images/g6.jpg) no-repeat center;*/
    background-size: cover;
    position: relative;
}
.stats_info {
	text-align: center;
	padding: 0;
	border-top: none;
	border-bottom: none;
}

.stats_info:nth-child(3) {
	border-right: 0px;
}

.stats_info:nth-child(2) {
	border-left: 0px;
	border-right: 0px;
}
/*--//stats--*/
/*--testimonials--*/
.testimonials_grid h3 {
    margin: 0.5em 0 0 0;
    color: #131212;
    font-size: 1.2em;
}
.testimonials_grid label {
    font-size: 0.9em;
    letter-spacing: 1px;
    color:#ff4e00;
}
.testimonials_grid h3 span {
    font-weight: 100;
    font-size: 0.8em;
    color: #888;
}
.testimonials_grid p {
    width: 70%;
    margin: 1em auto 0;
    line-height: 2em;
    letter-spacing: 1px;
    color: #959596;
}
div#carouselExampleControls .carousel-item {
    background: none;
    height: auto;
}
.testimonials_grid {
    margin: 2em auto 0;
    width: 60%;
}
a.carousel-control-next.test, a.carousel-control-prev.test {
    color: #0e0f10;
    text-align: center;
    opacity: 0.9;
    font-size: 2em;
}
.testimonials_grid i {
    font-size: 3em;
    color: #26d0f7;
}
/*--//testimonials--*/
.inner-page{
    background: url(../images/contact-us.jpg) no-repeat center;
    background-size: cover;
    min-height: 250px;
}

.inner-page1{
    background: url(../images/aboutus.jpg) no-repeat center;
    background-size: cover;
    min-height: 350px;
}

.inner-page2{
    background: url(../images/partners.jpg) no-repeat center;
    background-size: cover;
    min-height: 350px;
}
li.breadcrumb-item {
	font-size: 0.9em;
	letter-spacing: 3px;
}

li.breadcrumb-item a {
    color: #ff4e00;
}

.breadcrumb-item.active {
	color: #888;
}

ol.breadcrumb {
    background: none;
    margin: 0;
    padding: 1em 2em;
    background: #f7f7f7;
}

.ban-inner-content h3 {
	color: #fff;
	font-size: 2em;
}

.breadcrumb-item+.breadcrumb-item::before {
	display: inline-block;
	padding-right: 0.5rem;
	padding-left: 0.5rem;
	color: #ddd;
	content: "/";
}
/*-- /error --*/
.error {
    margin-bottom: 1em;
}
.error-404 h4 {
	font-size: 12em;
	font-weight:500;
	color: #333;
	margin: 0;
	padding: 0;
}

a.b-home {
	background: #202020;
	padding: 0.7em 1.5em;
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	margin-top: 1em;
	font-size: 0.9em;
}

a.b-home:hover {
    background: #f34235;
}

.error-404 p {
	color: #929090;
	font-size: 1em;
	letter-spacing: 8px;
	margin: 0em 0 2em 0;
}

.error.social-icons {
	margin-bottom: 1em;
}

.error.social-icons a {
	color: #4e4e4e;
}
.error-404 form {
	margin: 0 auto 2em;
	width: 40%;
	text-align: center;
}
.error-404 .copyrighttop a.facebook {
    color: #aaacaf;
    font-size: 15px;
}
.error-404 form input[type="search"] {
	outline: none;
	border: 1px solid #c4c5c5;
	background: none;
	color: #212121;
	padding: 14px 15px;
	width: 80%;
	float: left;
	font-size: 12px;
	letter-spacing: 5px;
	border-radius: 4px 0px 0px 4px;
	-webkit-border-radius: 4px 0px 0px 4px;
	-moz-border-radius: 4px 0px 0px 4px;
	-ms-border-radius: 4px 0px 0px 4px;
	-o-border-radius: 4px 0px 0px 4px;
}

.error-404 button.btn1 {
	color: #fff;
	border: none;
	padding: 12px 0;
	text-align: center;
	cursor: pointer;
	text-decoration: none;
    background:#6a67ce;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	float: right;
	width: 20%;
	-webkit-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
	-moz-border-radius: 0px 4px 4px 0px;
	-o-border-radius: 0px 4px 4px 0px;
}

.error-404 button.btn1:hover {
    background:#ec1c24;
}

.social_media.footer-icons.error-page ul li a {
    color: #676161;
}
.social_media.footer-icons.error-page ul li a:hover {
}
@media(max-width:640px) {
	.error-404 h4 {
		font-size: 9em;
	}
	.error-404 form {
		width: 72%;
	}
}

@media(max-width:600px) {
	.error-404 h4 {
		font-size: 6em;
	}
	a.b-home {
		padding: 0.6em 1em;
		margin-top: 1em;
	}
}

@media(max-width:480px) {
	.error-404 h4 {
		font-size: 5em;
	}
	.error-404 p {
		font-size: 0.8em;
		letter-spacing: 5px;
		margin: 1em 0;
	}
}

/*-- //error --*/
/*--/team--*/

.member-main .card {
	border: none;
	background: none;
}

.member-main .card-body {
	padding: 0 1em;
}

.team-social ul.social-icons li {
	display: inline-block;
}

.team-social ul.social-icons li a {
	display: block;
	color: #afadad;
	text-decoration: none;
	font-size: 14px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	line-height: 34px;
	background: transparent;
	border: 2px solid #afadad;
}

.team-social ul.social-icons li a:hover {
    color: #6a67ce;
    border: 2px solid #6a67ce;
}

.member-main h4 {
	font-size: 1.4em;
	color: #454646;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.16);
	font-weight: 600;
	margin-top: 0.5em;
}

.member-main p {
	padding: 0 0.8em;
}

/*--//team--*/
/*--/services--*/

.serve-grid i {
font-size: 2em;
    color: #6a67ce;
}
.serve-grid p {
	color: #7d7d7d;
	font-size: 15px;
	line-height: 1.9;
}

.serve-grid:hover.serve-grid i {
    color: #ff4e00;
}
.serve-grid h4 {
color: #212020;
    font-size: 1.4em;
    letter-spacing: 2px;
    font-weight: 600;
}
.project-img img {
    background: #eaecef;
    padding: 0.7em;
}

/*--//services--*/

/*-- Contact --*/

.map iframe {
	border: none;
	width: 100%;
	height: 450px;
}

.main_grid_contact h4 {
	font-size: 1.4em;
	color: #4e4f50;
	text-shadow: 0 1px 2px rgba(18, 18, 19, 0.13);
	font-weight: 700;
	text-transform: uppercase;
}

.map {
	position: relative;
	margin-bottom: 13em;
}

.contact-info h3 {
	color: #eee;
}

.contact-info p {
	margin: 0;
	font-size: 15px;
	color: #999;
	letter-spacing: 1px;
}

.main_grid_contact {
	width: 70%;
	position: absolute;
	bottom: -57%;
	left: 15%;
	-webkit-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
	-moz-box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
	box-shadow: -5px 6px 25px -12px rgba(0, 0, 0, 0.75);
}

.form {
	flex-basis: 70%;
	-webkit-flex-basis: 70%;
	padding: 3em 5em;
	background: #fff;
}

.main_grid_contact label {
	color: #454646;
	letter-spacing: 1px;
	font-size: 1em;
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}

.main_grid_contact input[type="text"],
.main_grid_contact input[type="email"],
.main_grid_contact textarea {
	outline: none;
	padding: 15px 15px;
	font-size: 14px;
	color: #777;
	background: #f7f7f7;
	width: 100%;
	letter-spacing: 1px;
	border: 1px solid #ebeeef;
	border-radius: 0px;
}

.input-group input.margin2 {
	margin-right: 2%;
}

.input-group1 input[type="submit"] {
	outline: none;
	padding: 20px 0;
	font-size: 14px;
	color: #fff;
	background: #242525;
	border: none;
	letter-spacing: 2px;
	text-transform: uppercase;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	transition: 0.5s all;
	font-weight: 600;
	cursor: pointer;
	border-radius: 0px;
	font-family: 'Poppins', sans-serif;
}

.input-group1 input[type="submit"]:hover {
    background:#6a67ce;
	transition: all 0.5s ease-in;
	box-shadow: 21.213px 21.213px 60px 0px rgba(34, 59, 140, 0.06);
}

.main_grid_contact textarea {
	min-height: 80px;
	margin: 1em 0em;
	resize: none;
}

.address {
	margin-top: 22em;
}

.address-info {
	background: #f7f7f7;
	border: 1px solid #ebeeef;
	padding: 3em 1em;
}

.address-right h6 {
	font-size: 1em;
	color: #414346;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.07);
}

.address-grid i {
    font-size: 1.5em;
    color: #f34235;
}

.address-right p,
.address-right p a {
	color: #7c848c;
}

/*-- //Contact --*/

/*-- footer --*/
.footer {
    background: #081A3B;
}
.footer-grid-w3ls.links.text-left {
    margin: 0;
}
.footer-grid-w3ls h3, .footer-list h3, .edu-footer-grid-w3ls h3 {
    font-size: 24px;
    color: #FFFFFF;
    text-transform: capitalize;
    line-height: 1.5em;
    letter-spacing: 2px;
}
.footer-grid-w3ls p {
    color: #bbbbbb;
    font-size: 14px;
    line-height: 1.8em;
    letter-spacing: 1px;
}
.footer-grid-w3ls ul, .footer-list ul {
    padding: 0;
    margin: 0;
}
.footer-grid-w3ls ul li, .footer-list ul li {
    display: block;
    margin: .4em 0 0;
}
.footer-logo-w3 li {
    display: inline-block !important;
}
.footer-logo-w3 ul li a {
    color: #bbb;
    font-size: 1.2em;
    text-decoration: none;
    padding-right: 5px;
}
.footer-list ul li {
    color: #bbb;
    font-size: 1em;
}
.footer-grid-w3ls ul li {
    color: #bbb;
     font-size: 14px;
    text-decoration: none;
    line-height: 2em;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-family: 'Open Sans', sans-serif;
}
.footer-grid-w3ls strong {
    text-decoration: underline;
     color: #eee;
}
.footer-grid-w3ls ul li a  {
    color: #bbb;
    font-size: 1em;
}
.footer-grid-w3ls ul li a:hover{
   color: #ff4e00;
}
.footer-grid-w3ls ul li i:hover{
    color: #00BCD4;
	border: 1px solid #00BCD4;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
.edu-footer-grid-w3ls ul {
    padding: 0;
    margin: 0;
}
.edu-footer-grid-w3ls input[type="email"],.edu-footer-grid-w3ls input[type="text"]{
	outline:none;
    padding: 11px 15px;
	background:#fff;
	border:none;
	font-size:14px;
	color:#212121;
    margin-bottom: 1em;
	width:100%;
    border-bottom: 1px solid #ccc;
     border-radius: 3px;
}
.edu-footer-grid-w3ls input[type="submit"] {
    outline: none;
    padding: 11px 15px;
    border: none;
    font-size: 14px;
    color: #fff;
    border: 1px solid #fff;
    width: 100%;
    text-align: left;
    background-color: transparent;
    letter-spacing: 2px;
    text-align: center;
     border-radius: 3px;
    cursor:pointer;
}
.edu-footer-grid-w3ls input[type="submit"]:hover{
    background:#ff4e00;
    border: 1px solid #ff4e00;
}
.footer-logo-w3 a {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
     font-size: 1.4em;
    text-transform: capitalize;
}
.footer-logo-w3 h3 span {
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    text-align: center;
    display: block;
	position: relative;
}
.footer-logo-w3 h3 span:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    bottom: 47%;
    right: 18%;
}
.footer-logo-w3 h3 span:before{
    position: absolute;
    content: '';
    height: 2px;
    width: 40px;
    background: #fff;
    bottom: 47%;
    left: 18%;
}
.copy_right {
    background: #161616;
}
.copy_right p {
    text-align: center;
    color: #c1c1c1;
    font-size: 14px;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.copy_right a {
    color: #fff;
}
.copy_right a:hover {
    color: #00BCD4;
}
.copy_right {
    background: #081A49;
}
.footer-grid-w3ls ul.social li a span {
    color: #777;
    font-size: 13px;
    background: #333;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    display: block;
    border-radius: 50%;
}
.footer-grid-w3ls ul.social li a span:hover{
    background: #fff;
    color: #ff4e00;
}
/*-- //footer --*/

/*--/toTop--*/

#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 10px;
	right: 10px;
	overflow: hidden;
	width: 34px;
	height: 34px;
	border: none;
	text-indent: 100%;
	background: url(../images/top_up.png) no-repeat 0px 0px;
	font-size: 0;
}

/*--//toTop--*/

/*--responsive--*/

@media(max-width:1440px) {}

@media(max-width:1366px) {}

@media(max-width:1280px) {}

@media(max-width:1080px) {
    .navbar {
        padding: 0.8em 1em;
    }
    .right-p ul li {
        margin: 0.5em 0em;
    }
    
}

@media(max-width:1050px) {
    
}

@media(max-width:1024px) {}

@media(max-width:991px) {
	.navbar-light .navbar-nav .nav-link {
		padding: 0.4em 1.4em;
		font-size: 0.9em;
		text-align: center;
	}
	li.nav-item {
		margin: 6px 0px 0 0;
	}
	.dropdown-item {
		text-align: center;
	}
	.active>.nav-link,
	.navbar-light .navbar-nav .nav-link.show,
	.navbar-light .navbar-nav .nav-link.active,
	.navbar-light .navbar-nav .nav-link:hover {
		color: #555;
		text-shadow: 1px 1px 2px #000000;
		border: 2px solid #ffffff;
		border-radius: 3px;
	}
	.navbar-light .navbar-nav .nav-link {
		padding: 0.7em 1.4em;
		font-size: 0.9em;
		text-align: center;
		color: #555;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
	}
	.cd-header-buttons {
		top: 20px;
		right: 60px;
	}
	.card.feature {
		border: 0;
		width: 50%;
	}
	.copyright {
		text-align: center;
		margin-bottom: 2em;
	}
	.footer-bottom {
		margin-top: 1em;
		padding-top: 2em;
	}
	footer {
		padding: 3em 0;
	}
	.subscribe-grid {
		padding: 1em 0em;
		margin: 0 auto;
		width: 90%;
	}
	span.navbar-toggler-icon i {
		line-height: 1.2em;
		font-size: 1.4em;
	}
	.navbar-toggler {
		padding: 0.3rem 0.6rem;
		font-size: 1.25rem;
		border: 1px solid transparent;
		border-radius: 0;
	}
	#navbarSupportedContent {
		background: #fff;
		padding: 0.5em 0;
		position: absolute;
		width: 90%;
		z-index: 99;
		top: 100%;
	}
    .navbar {
        padding: 0.8em 1em;
    }
    a.navbar-brand {
       font-size: 0.7em;
    }
    .footer-logo-w3 a {
        font-size: 1.2em;
    }
    .footer-grid-w3ls h3, .footer-list h3, .edu-footer-grid-w3ls h3 {
       font-size: 20px;
    }
    .galsses-grid-right {
        margin-bottom: 1em;
    }
    .inner-page {
        min-height: 200px;
    }
    .course-right {
        padding-bottom: 2em;
    }
    .aboutright {
        margin-top: 1.5em;
    }
    ul.social {
        margin: 0!important;
    }
    .footer-grid-w3ls:nth-child(3) {
        margin: 1.2em 0!important;
    }
    .serve-gd-ingo {
        margin-bottom: 1em;
    }
    .project-img img {
        background: #eaecef;
        padding: 0.5em;
        margin-bottom: 0.5em;
    }
    .member-img img {
        width: 50%;
        margin-top: 1em;
    }
 }
@media(max-width:768px) {
     .form {
        flex-basis:80%;
        -webkit-flex-basis:80%;
        padding: 2em 2em;
    }
}
@media(max-width:667px) {
    h3.tittle-wthree {
       font-size: 2em;
    }
    .aboutright h3 {
        font-size: 20px;
    }
    h3.course {
    font-size: 2em;
    }
    h4.text-white {
        font-size: 1.2em;
    }
    .service-in .card-title {
       font-size: 1.2em;
    }
     .right-p ul li {
        margin: 0.5em 0em;
         font-size:14px;
    }
    .member-main h4 {
      font-size: 1.2em;
    }
   
}

@media(max-width:640px) {
   
    .testimonials_grid p {
        width: 95%;
    }
    .main_grid_contact {
        width: 100%;
        position: static;
        bottom: -57%;
        left: 10%;
    }
    .address {
        margin-top: 2em;
    }
    .map {
        position: relative;
        margin-bottom: 1em;
    }
    .address-right.text-left {
        text-align: center!important;
        margin-top: 1em;
    }
    ol.breadcrumb {
        padding: 1em 1em;
    }
}

@media(max-width:600px) {
     h3.course {
       font-size:1.8em;
    }
    .course-detials-inner-info h4 {
        margin-bottom: 0.6em;
        font-size: 1em;
    }
    p{
        font-size:0.85em;
    }
    .inner-page {
        min-height: 160px;
    }
    .map iframe {
        height: 350px;
    }
    .testimonials_grid {
        margin: 2em auto 0;
        width: 80%;
    }
}

@media(max-width:568px) {
        h3.tittle-wthree {
           font-size: 1.6em;
        }
        h3.course {
        font-size: 1.4em;
        }
}

@media(max-width:480px) {
    .testimonials_grid h3 {
        font-size: 0.9em;
    }
    testimonials_grid label {
        font-size: 0.8em;
    }
}

@media(max-width:440px) {
    h3.tittle-wthree {
    text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.12);
    font-size: 1.6em;
    }
    
    
}

@media(max-width:414px) {
    .navbar {
        padding: 0.5em 0.8em;
    }
    .course-detials-inner-info h4 {
        margin-bottom: 0.6em;
        font-size: 0.95em;
    }
    .inner-page {
         min-height: 125px;
    }
    .map iframe {
        height: 450px;
    }
}

@media(max-width:384px) {
    p.text-right {
        text-align: center!important;
    }
    .top-head.text-left {
       padding: 0.3em 0em;
    }
    .stats_info h4 {
      font-size:18px;
    }

}

@media(max-width:375px) {
    .honey-leo {
        margin: 0;
    }
    p {
       font-size: 0.85em;
        line-height: 1.9em;
    }
    .stats_info h4 {
        font-size: 15px;
    }
 }

@media(max-width:320px) {
    .aboutright h3 {
        font-size: 18px;
    }
    .aboutright h4 {
        margin: 1.2em 0;
        font-size: 13px;
    }
    h3.tittle-wthree {
        text-shadow: 2px 2px 2px rgba(41, 41, 41, 0.12);
        font-size: 1.4em;
    }

}

/*--//responsive--*/
.centered {
    /*position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 32px;
    font-style: italic;*/

        position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 32px;
    font-style: italic;
}

.centered1{
	    position: absolute;
    top: 66%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 32px;
    font-style: italic
}

.headings{
	    background-color: #222;
    padding: 10px;
    font-size: 30px;
    color: #eee!important;
    border-color: #666;
    box-shadow: 0 1px #666, inset 0 1px #666;
    font-weight: 600;
    width: 320px;
    text-align: center;
}
@media screen and (max-width: 767px) {
	.headings{
    background-color: #222;
    padding: 10px;
    font-size: 15px;
    color: #eee!important;
    border-color: #666;
    box-shadow: 0 1px #666, inset 0 1px #666;
    font-weight: 600;
    width: 320px;
    text-align: center;
}

}


@media only screen and (min-width: 320px) and (max-width: 767px) 
{
	.fikka
	{
	position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 20px;
    font-style: italic;
    display: inline-table;
    padding-left: 10%;
 
}
}

@media screen and (min-width: 768px) {

.fikka{
	position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 32px;
    font-style: italic;
    display: inline-table;
    padding-left: 10%;
}
}
 
 				


 
